[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "==1.11.20"
dj-database-url = "==0.5.0"
gunicorn = "==19.9.0"
"psycopg2" = "==2.7.5"
djangorestframework = "==3.5.4"

[requires]
python_version = "2.7"
